// @use "../utils/mixin" as mix;
@use "../utils/functions" as fun;
@use "../utils" as id;

.badge {
    @include id.badge-base();
    // color: id.$badge-cl ;
    // color: contrast-color(id.$active);
}

.badge-complete {
    background-color: id.$complete ;
    &:hover {
    box-shadow: id.$shadow-badge id.$complete;
    }
}

.badge-ended{
    background-color: id.$ended;
    &:hover {
        box-shadow: id.$shadow-badge id.$ended;
    }
}

.badge-active {
    background-color: id.$active;
    &:hover {
        box-shadow: id.$shadow-badge id.$active;
    }
}