// @use "../utils/mixin" as mix;
// @use "../utils/veriables" as ver;

@use "../utils" as id;

.badge {
    @include id.badge-base();
    color: id.$badge-cl ;
}

.badge-complete {
    background-color: id.$complete ;
}

.badge-ended{
    background-color: id.$ended;
}

.badge-active {
    background-color: id.$active;
}