@mixin badge-base() {
    display: inline-block;
    min-width: 96px;
    padding: 4px 8px;

    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.07px;
    text-align: center;
    border-radius: 50px;
    transition: all 250ms;

    &:hover {
        border-radius: 0px;
        transform: scale(1.15);
        border: 1px solid #fff
    }
}

@mixin shadow() {
    box-shadow: 0px 4px 39px 8px;
}

@mixin position-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* ===== Usage ===== */

//   .decoration {
//     @include position-center;
//   }

@mixin position($position-type, $position-x, $position-y, $offset-x, $offset-y) {
    position: $position-type;
    top: $position-x;
    left: $position-y;
    transform: translate($offset-x, $offset-y);
  }
  
  /* ===== Usage ===== */

//   .decoration {
//     @include position(absolute, 50%, 50%, -50%, -50%);
//   }